<div id="carousel" class="owl-carousel main-collection">
  <div class="item"><span style="background-image: url('<%= image_path("model.jpg") %>')"></span></div>
</div>

<section class="store-items">
  <div class="store-item">
    <%= image_tag("model2.png"); %>
  </div>
</section>