<footer>
  <ul>
    <li><a href="">A Domme</a></li>
    <li><a href="">Blog</a></li>
    <li><a href="">Domme Club</a></li>
    <li><a href="">Newsletter</a></li>
    <li><a href="">Contato</a></li>
    <li><a href="">Mídias</a></li>
  </ul>
  <span class="copyright">Domme 2014, Todos os direitos reservados.</span>
</footer>