<header>
    <section class="menu">
      <div class="menu-button">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </section>
    <div class="logo">Domme</div>
</header>
<ul class="menu-options">
  <li><a href="">Loja</a></li>
  <li><a href="">Conheça a Coleção</a></li>
  <li><a href="">Domme Club</a></li>
  <li><a href="">Blog</a></li>
  <li><a href="">A Domme</a></li>
  <li><a href="">Newsletter</a></li>
  <li><a href="">Contato</a></li>
  <li><a href="">Mídias</a></li>
</ul>