<div class="photo-layer"></div>
<div id="carousel" class="owl-carousel main-collection">
  <div class="item"><span style="background-image: url('<%= image_path("teste-image.jpg") %>')"></span></div>
  <div class="item"><span style="background-image: url('<%= image_path("home-banner.jpg") %>')"></span></div>
</div>
<div class="actions">
  <button> Conheça a nova coleção</button>
  <%= link_to 'Store', store_base_path %>
</div>